.cover {
    height: 500px;
    background: url('../../images/pl-hero.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.coverArea {
    color: #fff;
    text-align: center;
}
.coverArea h1{
    font-size: 40px;
    margin: 0 0 15px 0;
    font-weight: 300;
    line-height: 1;
}
.coverArea p {
    font-size: 17px;
    line-height: 1;
    font-weight: 300;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 45px;
}
@media only screen and (max-width : 768px) {
    .cell {
        width: 33.333333333%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 420px) {
    .cover {
        padding: 0 40px;
    }
}