.grid {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 90px;
}
.grid::before {
    content: " ";
    display: table;
}
.grid::after {
    content: " ";
    display: table;
    clear: both;
}
.cell {
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
@media only screen and (max-width : 768px) {
    .cell {
        width: 33.333333333%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 420px) {
    .cell {
        width: 50%;
    }
}