.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 40px;
}
.nav li{
    float: left;
    margin: 0 30px;
}
.nav li:last-child {
    margin-right: 0;
    margin-left: 0;
}
.nav li a {
    color: #949ea0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.nav li.login a {
    color: #eaa79e;
}
.nav li.user a {
    display: flex;
}
.nav li.user img {
    margin-left: 20px;
    height: 40px;
}
.nav li button {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
    background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}
